# Ignore player profiles, stats, and achievements
playerdata/
stats/
advancements/

# Ignore server/plugin configs and map mod cache
paper-world.yml
xaeromap.txt
uid.dat

# Ignore lock, log, and backup files
session.lock
*.log
*.gz
.DS_Store
Thumbs.db

# Ignore future world region and entity data
region/
DIM1/
DIM-1/
entities/
poi/
data/
level.dat*
